<!DOCTYPE html>
<html>
<head>
    <h2>About Us</h2>
    <p>Simple Web App (SWA) was founded on April 24, 2022, in an apartment in Madison, WI.
    The main goals associated with this project are to get more experience with Python development,
    Docker, CI/CD, Kubernetes, application monitoring and application/systems performance.</p>
    <p>For more info, please check out the GitHub project: <a href="https://github.com/null-talisman/simple-web-app/">simple-web-app</a></p>
    <p><a href="http://127.0.0.1:8080/home"><- Return to Home</a></p>
</head>
</html>