<h3> SWA Job Application</h3>
<p> Please enter the relevant information requested below.</p>
<p> Our team will review your application and contact you within 14 days
    regarding its status.</p>
<h4>Basic Info</h4>
<label for="firstname">First Name:</label>
<input type="text" id="firstname" name="fname" placeholder="first name">
<label for="middleinitial">Middle Initial:</label>
<input type="text" id="middleinitial" name="mname" placeholder="middle initial">
<label for="lastname">Last Name:</label>
<input type="text" id="lastname" name="lname" placeholder="last name">
<br>
<label for="DOB">Date of birth: </label>
<input type="date" id="DOB" name="birthdate" placeholder="DOB">
<label for="phone">Phone Number:</label>
<input id="phone" name="phonenumber" placeholder="phone number" type="number">
<label for="email">Email Address:</label>
<input id="email" name="emailaddress" placeholder="email address" type="email">
<br>
<label for="applyfor">Desired Position(s):</label>
<input id="applyfor" name="applyfor" placeholder="Enter jobs you wish to apply for" type="text">
<br>
<h4>Education</h4>
<h6>(Please list up to 3 institutions/universities)</h6>
<h5>Institution/University #1</h5>
<label for="institution">Institution/University:</label>
<input type="place" id="place" name="place" placeholder="Institution/University">
<label for="degreetype">Degree/Program:</label>
<input id="degree" name="degree" placeholder="Degree/Program" type="text">
<br>
<label for="major">Major:</label>
<input id="major" name="major" placeholder="N/A" type="major">
<label for="minor">Minor:</label>
<input id="minor" name="minor" placeholder="N/A" type="minor">
<label for="graddate">Graduation Date:</label>
<input id="graddate" name="graddate" placeholder="N/A" type="graddate">
<br>
<h5>Institution/University #2</h5>
<label for="place2">Institution/University:</label>
<input type="place2" id="place2" name="place2" placeholder="N/A">
<label for="degree2">Degree/Program:</label>
<input id="degree2" name="degree2" placeholder="N/A" type="text">
<br>
<label for="major2">Major:</label>
<input id="major2" name="major2" placeholder="N/A" type="major">
<label for="minor2">Minor:</label>
<input id="minor2" name="minor2" placeholder="N/A" type="minor">
<label for="graddate2">Graduation Date:</label>
<input id="graddate2" name="graddate2" placeholder="N/A" type="graddate">
<br>
<h5>Institution/University #3</h5>
<label for="place3">Institution/University:</label>
<input type="place3" id="place3" name="place" placeholder="N/A">
<label for="degree3">Degree/Program:</label>
<input id="degree3" name="degree3" placeholder="N/A" type="text">
<br>
<label for="major3">Major:</label>
<input id="major3" name="major3" placeholder="N/A" type="major">
<label for="minor3">Minor:</label>
<input id="minor3" name="minor3" placeholder="N/A" type="minor">
<label for="graddate3">Graduation Date:</label>
<input id="graddate3" name="graddate3" placeholder="N/A" type="graddate">
<br>
<h4>Experience</h4>
<h6>(Please list your last 3 positions)</h6>
<h5>Position #1</h5>
<label for="p1-company">Company:</label>
<input id="p1-company" name="p1company" placeholder="N/A" type="text">
<label for="p1-position">Position:</label>
<input id="p1-position" name="p1position" placeholder="N/A" type="text">
<br>
<label for="p1-startdate">Start Date (Month/Year):</label>
<input id="p1-startdate" name="p1-startdate" placeholder="N/A" type="date">
<label for="p1-enddate">Start Date (Month/Year):</label>
<input id="p1-enddate" name="p1-enddate" placeholder="N/A" type="date">
<br>
<label for="p1-description">Description:</label>
<br>
<textarea id="p1-description" name="p1-description" rows="10" cols="125">
    Please share with us relevant job duties, projects, accolades, achievements, etc.
</textarea>
<br>
<h5>Position #2</h5>
<label for="p2-company">Company:</label>
<input id="p2-company" name="p2company" placeholder="N/A" type="text">
<label for="p2-position">Position:</label>
<input id="p2-position" name="p2position" placeholder="N/A" type="text">
<br>
<label for="p2-startdate">Start Date (Month/Year):</label>
<input id="p2-startdate" name="p2-startdate" placeholder="N/A" type="date">
<label for="p2-enddate">Start Date (Month/Year):</label>
<input id="p2-enddate" name="p2-enddate" placeholder="N/A" type="date">
<br>
<label for="p2-description">Description:</label>
<br>
<textarea id="p2-description" name="p1-description" rows="10" cols="125">
    Please share with us relevant job duties, projects, accolades, achievements, etc.
</textarea>
<br>
<h5>Position #3</h5>
<label for="p3-company">Company:</label>
<input id="p3-company" name="p3company" placeholder="N/A" type="text">
<label for="p3-position">Position:</label>
<input id="p3-position" name="p3position" placeholder="N/A" type="text">
<br>
<label for="p3-startdate">Start Date (Month/Year):</label>
<input id="p3-startdate" name="p3-startdate" placeholder="N/A" type="date">
<label for="p3-enddate">Start Date (Month/Year):</label>
<input id="p3-enddate" name="p3-enddate" placeholder="N/A" type="date">
<br>
<label for="p3-description">Description:</label>
<br>
<textarea id="p3-description" name="p3-description" rows="10" cols="125">
    Please share with us relevant job duties, projects, accolades, achievements, etc.
</textarea>
<br><br>
<button type="submit">Submit</button>
<br><br>
<p><a href="http://127.0.0.1:8080/home"><- Return</a></p>