<label for="firstname">First Name:</label>
<input type="text" id="firstname" name="fname" placeholder="first name">
<label for="middleinitial">Middle Initial:</label>
<input type="text" id="middleinitial" name="mname" placeholder="middle initial">
<label for="lastname">Last Name:</label>
<input type="text" id="lastname" name="lname" placeholder="last name">
<br>
<label for="DOB">Date of birth: </label>
<input type="date" id="DOB" name="birthdate" placeholder="DOB">
<label for="phone">Phone Number:</label>
<input id="phone" name="phonenumber" placeholder="phone number" type="number">
<label for="email">Email Address:</label>
<input id="email" name="emailaddress" placeholder="email address" type="email">
<br>
<button type="submit">Submit</button>