<!DOCTYPE html>
<html>
<body>
    <h2>Careers</h2>
    <p>Welcome to our careers page. Please check out our available positions below.</p>
    <h4>Front-End Developer</h4>
    <h6>Location: Remote</h6>
    <p>Description: Do you have a knack for web development? Are you constantly looking
    for new ways to blend your artistic talents with your passion for development? If the
    answer to those questions were yes, we'd love for you to apply to this position. Our
    team here at SWA has minimal experience with web development, so you'd be the lead designer
    and developer for our client-facing web platforms.</p>
    <p>Required skills:</p>
    <ul>
        <li>Basic understanding of Software Development</li>
        <li>Experience with front-end technologies (HTML, CSS, JS)</li>
        <li>Basic knowledge of networking and security</li>
        <li>Strong communicator. Able to convey technical concepts to others.</li>
    </ul>
    <p>Preferred skills</p>
    <ul>
        <li>BS in CS, MIS, Math, Physics, any engineering-related major</li>
        <li>Experience working with version control (git)</li>
        <li>Basic understanding of databases (Postgres, Mongo)</li>
        <li>Basic Linux systems administration skills (Ubuntu 22.04)</li>
        <li>Basic understanding of Docker, Kubernetes, Trivy</li>
    </ul>
    <br>
    <h5><a href="http://127.0.0.1:8080/apply">Apply Now!</a></h5>
    <br>
    <p><a href="http://127.0.0.1:8080/home"><- Return to Home</a></p>
</body>
</html>