<!DOCTYPE html>
<html>
<body>
    <h2>Welcome To SWA!</h2>
    <p>Please feel free to explore this site and its resources.</p>
    <h5>Featured:</h5>
    <ul>
        <li><a href="http://127.0.0.1:8080/about">About</a></li>
        <li><a href="http://127.0.0.1:8080/products">Products</a></li>
        <li><a href="http://127.0.0.1:8080/careers">Careers</a></li>
        <li><a href="http://127.0.0.1:8080/apply">Apply</a></li>
        <li><a href="http://127.0.0.1:8080/contact">Contact</a></li>
    </ul>
</body>
</html>