<!DOCTYPE html>
<html>
    <body>
        <h2>Products</h2>
        <h3><a href="https://github.com/null-talisman/robin-nill">Robin-Nill</a></h3>
        <p>During the Spring/Summer of 2021, I wrote a Python program that utilizes the RobinStocks
        API to retrieve information about current stocks. The application was capable of getting the
        current price of a given stock, as well as its associated metadata (type, volume, 24hr high,
        24 hr low, etc.) This program ultimately ended up acting as a backend microservice for another
        one of our projects: Gimli Bot.
        <br>
        <h3><a href="https://github.com/null-talisman/discord-gimli">Gimli-Bot</a></h3>
        <p> In the late Winter of 2021, I began working on my first Python-based project: Gimli Bot.
        The project was inspired by seeing a peer land a very nice cyber-security job with his only project
        being a Gimli Twitter bot. The project originally aimed at replicating that same functionality, but
        in a Discord server. The premise was that a user could type in chat "!gimli" and the bot program would
        respond with a random Gimli quote from the Lord of The Rings trilogy. Over time,
        I added more functionality to Gimli-Bot, such as sending random pictures, facts about asteroids,
        weather information and stock prices. This project has not been maintained in a long while, but I
        hope to continue development on it soon.</p>
        <br>
        <p><a href="http://127.0.0.1:8080/home"><- Return to Home</a></p>
    </body>
</html>